*{
background-color: antiquewhite;

}

#h1styles{
    color: rgb(0, 162, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: dashed;
}

.pstyles{
    font-weight: 5000;

}
h1{
  
}
